html,
body {
  overflow: hidden;
  height: 100%;
  // background-color: #4f94dd;
  background-color: #205;
}
.reset {
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  padding: 20px;
  outline: 2px solid orange;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1000000;
}
//======================
.game-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
//======================
.input-panel {
  position: relative;
  display: none;
  width: 50%;
  margin: 10% auto 0 auto;
  border: 4px solid #4f44f3;
  text-align: center;
  box-shadow: 8px 8px 0 0 white;
  z-index: 10;

  .playeroption {
    display: inline-block;
    margin: 3em 1em;
    padding: 2em 6em;
    border-radius: 1em;
    cursor: pointer;
    border: 4px solid #4fb7dd;

    &.disabled {
      color: #aaa;
      border: 4px solid #aaa;
    }
  }
}
//======================
