@tennis-ball: #DF2;
@navy: #205;

html,
body {
  overflow: hidden;
  height: 100%;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  // background-color: #4f94dd;
  background-color: #208;
  // background-color: @tennis-ball;
}
.reset {
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  padding: 20px;
  outline: 2px solid orange;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1000000;
}
//======================
.game-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
//======================
.input-panel {
  position: relative;
  display: none;
  width: 50%;
  margin: 10% auto 0 auto;
  color: @navy;
  font-size: 24px;
  background-color: #DDD;
  border: 4px solid #666;
  text-align: center;
  box-shadow: 12px 12px 0px 0 @navy;
  z-index: 10;

  .message {
    padding: 2em;
  }

  .playeroption {
    display: inline-block;
    margin: 1em;
    padding: 1em 3em;
    background-color: teal;
    cursor: pointer;
    border: 4px solid @navy;

    &.disabled {
      color: #aaa;
      border: 4px solid #aaa;
    }
  }
}
//======================
.about {
  text-align: center;
  margin: 10em auto;
  color: @tennis-ball;
}

//======================
